.pointer {
  cursor: pointer;
}

.hide {
  display: none !important;
}

.center {
  text-align: center;
}

.fbs-left {
  float: left;
}

.fbs-right {
  display: block;
  overflow: hidden;
}

.block {
  display: block;
  width: 100%;
}

.fr {
  float: right;
}

.fl {
  float: left;
}

.bold {
  font-weight: bold;
}

.color-white {
  color: #fff;
}

.clearfix::before,
.clearfix::after {
  line-height: 0;

  display: block;
  visibility: hidden;
  clear: both;

  height: 0;

  content: '';
}

.ellipsis {
  display: block;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.ellipsis_2 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

.ellipsis_3 {
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: 3;
  -webkit-box-orient: vertical;
}

.modal-open {
  overflow: auto;
}

.css-decoration {
  width: 100%;
  height: 0.2rem;
}

.css-decoration_x2 {
  width: 100%;
  height: 0.4rem;
}

.swiper-pagination-switch {
  width: 10px;
  height: 10px;
  background: rgba(255, 255, 255, 0.6);
  margin: 0 4px;
  border-radius: 50%;
  cursor: pointer;

  &.swiper-active-switch {
    background: #fff;
  }
}

// ============== 版心 ================
.module-core {
  position: relative;
  width: 1000px;
  margin: 0 auto;
  height: 100%;
}

@media screen and (min-width:1024px) and (max-width:1279px) {
  .module-core {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (max-width:1023px) {
  .module-core {
    width: 100%;
    margin: 0 auto;
  }
}

@media screen and (min-width:1025px) {

  /*滚动条样式*/
  .small-scroll::-webkit-scrollbar {
    /*滚动条整体样式*/
    width: 12px;
    /*高宽分别对应横竖滚动条的尺寸*/
    height: 12px;
  }

  .small-scroll::-webkit-scrollbar-thumb {
    /*滚动条里面小方块*/
    border-radius: 1;
    background: rgba(0, 0, 0, 0.5);
  }

  .small-scroll::-webkit-scrollbar-track {
    /*滚动条里面轨道*/
    border-radius: 0;
    background: #c1c1c1;
  }
}
