.tpl-article {
    padding: 0 20px;
  * {
    font-size: 14px;
    color: #666;
  }
  .p-lg {
    margin: 30px 0;
    line-height:  22px;
  }
  .p {
    margin: 20px 0;
    line-height:  22px;
  }
  .indent {
    text-indent: 2em;
  }
  .bold {
    font-weight: bold;
  }
  .black {
    color: #333;
  }
}


